DirectoryIndex index.php
<IfModule mod_rewrite.c>
#SetEnv HTTP_REWRITE_ON
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(.*)$ index.php [L]
</IfModule>
